
.padre{
    background-color: black;
    width: 100%;
    height: 1000px;
}
.header{
    background: #212529;
    height: 150px;
    width: 100%;
}
.logo{
    padding-top: 20px;
    padding-left: 15px;
}
.sign-in{
    display: flex;
    float: right;;
}
.carousel{
    height: 500px;
    width: 100%;
}
.pie{
    background:#212529;
    height: 150px;
    width: 100%;
}
.iconos{
    height: 50px;
    width: 50px;
    float: right;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
}
.redes{
    align-content: center;
}
.contacto{
    font-family: arial;
    font-size: 25px;
    padding-top: 25px;
    padding-left: 25px;
    color: ivory;    
}
.formulario{
    height: 150px;
}